.App {
  text-align: left;
}

body {
  background: #212224;
}

/* Header */
.header {
  background: #212224;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Car Form */
.carForm-container {
  background: #c3cede;
  padding: 20px;
  padding-right: 35px;
  flex: 20%;
}

.carForm-container h2 {
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

/* CarForm Input/Button blocks */
.inputBlock {
  padding-top: 10px;
  padding-bottom: 10px;
}

.inputBlock input {
  width: 95%;
  padding: 10px;
  border: none;
}

.buttonBlock {
  padding-top: 10px;
}

.buttonBlock button {
  width: 100%;
  padding: 20px;
  background: #212224;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
}

.buttonBlock button:hover {
  background: #6d737a;
  cursor: pointer;
}

/* Car List */
.carList-container {
  flex: 75%;
  background: #d0d5db;
  min-height: 600px;
  width: 100%;
}

.carRecord {
  background: #c3cede;
  column-count: 3;
  column-span: all;
  margin: 10px;

}

.dataBlock {
  margin: 0;
}

.dataBlock h2 {
  margin: 0;
}

.dataBlock button {
  padding: 8px;
  margin-left: 15px;
  width: 100px;
  background: #212224;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
}

.dataBlock button:hover {
  background: #6d737a;
  cursor: pointer;
}

.carList-block h2{
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

/* CarEdit */
.carEdit-block {
  background: #c3cede;
  margin: 10px;
  text-align: center;
  justify-items: center;
}

.carEdit-block input {
  width: 50%;
  margin: 5px;
  padding: 5px;
  border: none;
}

.carEdit-block button {
  padding: 8px;
  margin-left: 15px;
  width: 100px;
  background: #212224;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
}

.carEdit-block button:hover {
  background: #6d737a;
  cursor: pointer;
}

/* Footer */
.footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212224;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  width: 100%;
  min-height: 100px;
}
